@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center">
    <h1>Abc University</h1>
</div>

<div class="home-image">
    <img src="~/photo.jpeg" alt="photo"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Abc University</h2>
        <p>
            Abc University is a University you can come.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Affordable</h2>
        <p>Only 100 / credit.</p>
    </div>
    <div class="col-md-4">
        <h2>Good teaching</h2>
        <p>Always offer help.
        </p>
    </div>
</div>
