* {
    font-family: 'Roboto';
}

nav, footer {
    background-color: skyblue;
    color: brown;
}

li.nav-item a{
    font-size: 1.2rem;
}

li.nav-item a:hover
{
    background-color: #ffff;
}

.small-hide{
    display: none;
}

.custom-flex-display{
    display: flex;
    flex-direction: column;
}

.jumbotron-custom {
    padding: 2rem 1rem;
    background-color: rgb(195, 230, 203);
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

div.home-image{
    text-align: center;
    margin-bottom: 2rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-spacing{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #0366d6;
    border-color: #000000;
}

.btn-primary:hover {
    color: #000000;
    background-color: #ff0000;
    border-color: #000000;
}

.btn-primary:disabled{
    color: #000000;
    background-color: gray;
    border-color: #000000;
}

table.custom-table tbody{
    display: flex;
    flex-direction: column;
}

table.custom-table tbody tr{
    padding: 1rem;
}

table.custom-table tbody tr td{
    padding: 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
  border-top: 1px solid gray;
}
.border-bottom {
    border-bottom: 1px solid gray;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.fcontainer {
    text-align: center;
    margin: 0 auto;
    width:200px;
}
